.signup-form {
    border: 1px solid black;
    background: white;
    padding: 20px;
    margin: 20px;
}

a{
    color: black;
}

p{
    font-style: italic;
    line-height: 1.5;
}


@media screen and (min-width: 730px){
    .signup-form{
        margin: auto;
        max-width: 550px;
    }
}