.word-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin: 40px;
}

.word-table-row{
    list-style-type:none;
    min-width: 200px;
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(121, 167, 203);
    cursor: pointer;
    
}