.login-page {
    border: 1px solid black;
    background: white;
    padding: 20px;
    margin: 20px;
}

img{
    height: 200px;
}



@media screen and (min-width: 730px){
    .login-page{
        margin: auto;
        max-width: 550px;
    }
}